.viewMsg {
  overflow: scroll;
}

.handCursor {
  cursor: pointer;
}

.population {
  text-align: right;
}

.msg {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 0;
}

.userName > .form-group {
  margin-bottom: 0;
}